{% for rule in acl_rules_parsed | default([]) if rule.acl_number is defined %}
acl {{ rule.acl_number }}
 {% for entry in rule.entries %}
  rule {{ entry.rule_id }} {{ entry.action }} {% if entry.protocol is defined %}protocol {{ entry.protocol }}{% endif %} source {{ entry.source }} {% if entry.destination is defined %}destination {{ entry.destination }}{% endif %}
 {% endfor %}
quit
{% endfor %}